{% extends 'Vicodin/base.html' %}

{% load static %}

{% block title %} Productos {% endblock title %}

{% block main %}
<div class="ltn__product-area ltn__product-gutter mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="tab-content">
                    <div class="tab-pane fade active show" id="liton_product_grid">
                        <div class="ltn__product-tab-content-inner ltn__product-grid-view">
                            <div class="row">
                                {% if not object_list %}
                                <div class="col-12">
                                    <p>No se encontraron los productos buscados.</p>
                                </div>
                                {% else %}
                                {% for producto in object_list %}
                                <div class="col-xl-3 col-lg-4 col-sm-6 col-6">
                                    <div class="ltn__product-item ltn__product-item-3 text-center">
                                        <div class="product-img">
                                                    {% if producto.image %}
                                                    <img src="{{ producto.image.url }}" alt="{{ producto.name }}">
                                                    {% else %}
                                                    <img src="{% static 'Vicodin/assets/img/no-image.jpg' %}" alt="No hay imagen disponible">
                                                    {% endif %}
                                            <div class="product-hover-action">
                                                <ul>
                                                    <li>
                                                        <a href="{% url 'ProductoDetail' producto.id %}" title="Ver detalle" >
                                                            <i class="far fa-eye"></i>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="product-info">
                                            <div class="product-ratting">
                                                <ul>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star"></i></li>
                                                    <li><i class="fas fa-star-half-alt"></i></li>
                                                    <li><i class="far fa-star"></i></li>
                                                </ul>
                                            </div>
                                            <h2 class="product-title"><a href="{% url 'ProductoDetail' producto.id %}">{{producto.name}}</a></h2>
                                            <div class="product-price">
                                                <span>${{producto.price}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endfor %}
                                {% endif %}

                                {% if request.user.is_authenticated %}
                                    <a href="{% url 'ProductoCreate' %}" class="btn theme-btn-1 btn-effect-1 text-uppercase" >Crear nuevo
                                    Producto</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock main %}