{% extends 'Vicodin/base.html' %}

{% load static %}

{% block title %} Detalle publicacion {% endblock title %}

{% block main %}
<div class="ltn__page-details-area ltn__blog-details-area mb-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="ltn__blog-details-wrap">
                    <div class="ltn__page-details-inner ltn__blog-details-inner">
                        <h2 class="ltn__blog-title">{{blog.name}}
                        </h2>
                        <div class="ltn__blog-meta">
                            <ul>
                                <li class="ltn__blog-author">
                                    {% if blog.author.imagen %}
                                        <a href="#"><img src="{{ blog.author.imagen.imagen.url }}" alt="Author Image">By: {{ blog.author }}</a>
                                    {% else %}
                                        <a href="#"><img src="{% static 'Vicodin/assets/img/default-avatar.png' %}" alt="Default Image">By: {{ blog.author }}</a>
                                    {% endif %}
                                </li>
                                <br>
                                {% if blog.image %}
                                <img style="width: -webkit-fill-available;" src=" {{blog.image.url}}" alt="{{blog.name}}">
                                {% else %}
                                <img src=" {% static 'Vicodin/assets/img/no-image.jpg' %}" alt="{{blog.name}}">
                                {% endif %}

                                <li class="ltn__blog-date">
                                    <i class="far fa-calendar-alt"></i>{{blog.date}}
                                </li>
                            </ul>
                        </div>
                        
                        <p>{{blog.description}}</p>
                        <br>
                        <p>{{blog.body}}</p>
                        {% if request.user == blog.author or request.user.is_superuser %}
                            <a class="btn btn-danger" href="{% url 'PublicacionDelete' blog.id %}">Borrar</a>
                            <a class="btn btn-success" href="{% url 'PublicacionUpdate' blog.id %}">Editar</a>
                        {% endif %}


                        <div class="ltn__comment-area mb-50">
                            <h4 class="title-2">Comments</h4>
                            <div class="ltn__comment-inner">
                                <ul>
                                    {% for comentario in comentarios %}
                                        <li>
                                            <div class="ltn__comment-item clearfix">
                                                <div class="ltn__commenter-img">
                                                    {% if comentario.user.imagen %}
                                                        <img src="{{ comentario.user.imagen.imagen.url }}" alt="Image">
                                                        {% else %}
                                                        <img src="{% static 'Vicodin/assets/img/default-avatar.png' %}" alt="Image">
                                                    {% endif %}
                                                </div>
                                                <div class="ltn__commenter-comment">
                                                    <h6><a href="#">{{ comentario.user.username }}</a></h6>
                                                    <span class="comment-date">{{ comentario.date }}</span>
                                                    <p>{{ comentario.comment }}</p>
                                                </div>
                                            </div>
                                        </li>
                                    {% empty %}
                                        <p>No hay comentarios</p>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <hr>
                        {% if request.user.is_authenticated %}
                            <div class="ltn__comment-reply-area ltn__form-box mb-60---">
                                <h4 class="title-2">Comentar</h4>
                                <form method="POST">
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                    <div class="btn-wrapper">
                                        <button class="btn theme-btn-1 btn-effect-1 text-uppercase" type="submit"><i class="far fa-comments"></i>
                                            Comentar</button>
                                    </div>
                                </form>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>

    <br>
{% endblock main %}